*{
	box-sizing:border-box;
}

.titulo{
	text-align: center;
}

.titulo h1{
	font-size: 1.33rem;
}

.items{
	width: 100%;
    height: auto;
    background-color: green;
    display: flex;
    justify-content: center;
	gap: 50px;
	padding:50px;
}

.item{
	width: max-content;
    min-width: 200px;
    height: 320px;
    background-color: red;
    text-align: center;
	margin: 0;
animation: scroll 20s linear infinite;
}

@keyframes scroll{
from{
transform: translateX(0);
}
to {
transform: translateX(100%)
}

}

.item h3{
	width:100%;
	height:50px;
 	background-color:rgba(255, 255, 255, 0);
    align-content:center;
	border: solid 1px;
	margin: 0;
}

.imagen{
	width:100%;
	height:170px;
	border: solid 1px;
}

.imagen img{
 	width:100%;
    height:100%;
    object-fit: cover;
}

.desc{
	display:flex;
    flex-wrap: wrap;
    flex-grow:0;
    text-align:center;
    justify-content: center;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
	border: solid 1px;
}

.dias{
 	font-size: 12px;
    width: 50%;
    height: 100%;
    align-content: center;
    font-weight: bold;
    border-right: solid 1px green;   
}

.desde{
 	font-size: 12px;
    width: 49%;
    height: 100%;
    align-content: center;
    border-left: solid 1px green;
    font-weight: bold;
}

.but{
 	width: 100%;
    height: 50px;
	color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    align-content: center; 
	transition: color 1s, background-color 1s;
	border: solid 1px;
	font-size: 12px;
}

.but:hover{
	color: blue;
    background-color: #ffffff;
    font-weight: bold;
}

.pais h2 {
 	background-color: #003366;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pais h2:hover {
 	background-color: #0055aa;
}


@media screen and (max-width: 500px){
.items{
    padding: 15px;
    gap: 15px;
}
.item{
	min-width: 100px;
    height: 150px;
}
.item h3{
	font-size: 12px;
    height: 25px;
}
.imagen{
    height: 80px;
}
	
.desc{
    height: 20px;
}
.dias{
	font-size: 8px;
}
.desde{
	font-size: 8px;
}
.but{
 	font-size: 8px;
    height: 25px;
}
}
