*{
	box-sizing:border-box;
    margin:0;
    padding: 0;
}

.items{
	width:100%;
    height:500px;
    background-color:green;
    margin:0;
    padding:10px;
    display: flex;
    column-gap:50px;
    row-gap: 50px;
    justify-content:center;
    flex-wrap:wrap;
}

.item{
  width:20vw;
  min-width:200px;
  height:300px;
  background-color:red;
  text-align:center;
  margin:0;
  padding:0;
}

.item h3{
	background-color:yellow;
    height:50px;
    align-content:center;
    margin:0;
    padding:0;
}

.item img{
	width:100%;
    height:170px;
    object-fit: cover;
}

.desc{
	display:flex;
    flex-wrap: wrap;
    flex-grow:0;
    text-align:center;
    justify-content: center;
    height:50px;
    background-color: white;
}

.dias{
    width:49%;
    height:100%;
    align-content: center;
    border-right:solid 1px green;    
}

.desde{
    width:49%;
    height:100%;
    align-content: center;
    border-left:solid 1px green;
}

.but {
	color: #ffffff;
    width:100%;
    height:50px;
    background-color: blue;
    align-content: center; 
    bottom:0;
}

.but:hover{
	background-color: #ffffff;
	color: blue;
}

.but a{
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

.pais h2 {
  background-color: #003366;
  color: white;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pais h2:hover {
  background-color: #0055aa;
}
