*{
box-sizing:border-box;
    font-size: 16px;
}

h1{
	font-size: 20px;
	text-align: center; 
	margin: 20px;
}

.items{
width:100%;
    height:auto;
    background-color:green;
    margin:0;
    padding:50px;
    display: flex;
    column-gap:50px;
    row-gap: 50px;
    justify-content:center;
    flex-wrap: wrap;
}

.item{
width:15vw;
    min-width:200px;
    height:320px;
    background-color:red;
    text-align:center;
    margin: 0;
    padding: 0;
    display: grid;
}

.item h3{
 background-color:yellow;
    height:50px;
    align-content:center;
    margin: 0;
    padding: 0;
}

.item img{
 width:100%;
    height:170px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.desc{
	display:flex;
    flex-wrap: wrap;
    flex-grow:0;
    text-align:center;
    justify-content: center;
    height:50px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.dias{
 font-size: 10px;
    width:50%;
    height:100%;
    align-content: center;
    font-weight: bold;
    border-right:solid 1px green;
    margin: 0;
    padding: 0;    
}

.desde{
 font-size: 10px;
    width:49%;
    height:100%;
    align-content: center;
    border-left:solid 1px green;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.but{
 width:100%;
    height:50px;
	   color: #ffffff;
    background-color: blue;
    align-content: center; 
    bottom:0;
	   transition: color 1s, background-color 1s;
    border: none;
}

.but:hover{
	color: blue;
    background-color: #ffffff;
    font-weight: bold;
}

.pais h2 {
 background-color: #003366;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pais h2:hover {
 background-color: #0055aa;
}


@media screen and (max-width: 500px){
.items{
    padding:5px;
    column-gap:5px;
    row-gap: 15px;
}
.item{
min-width:100px;
    height:150px;
}
	.item h3{
font-size: 12px;
    height: 30px;
}
 .item img{
    height: 80px;
}
 .desc{
    height: 20px;
}
 .but{
 font-size: 9px;
    background-color:lightblue;
    height: 20px;
}
}
