*{
box-sizing:border-box;
    margin:0;
    padding: 0;
}

.items{
width:100%;
    height:auto;
    background-color:green;
    margin:0;
    padding:50px;
    display: flex;
    column-gap:50px;
    row-gap: 50px;
    justify-content:center;
    flex-wrap:wrap;
}

.item{
width:15vw;
    min-width:200px;
    height:320px;
    background-color:red;
    text-align:center;
    margin: auto;
    padding: auto;
}

.item h3{
	background-color:yellow;
    height:50px;
    align-content:center;
    margin:0;
    padding:0;
}

.item img{
	width:100%;
    height:170px;
    object-fit: cover;
}

.desc{
	display:flex;
    flex-wrap: wrap;
    flex-grow:0;
    text-align:center;
    justify-content: center;
    height:50px;
    background-color: white;
}

.dias{
    font-size: 10px;
    width:49%;
    height:100%;
    align-content: center;
    border-right:solid 1px green;    
}

.desde{
    font-size: 10px;
    width:49%;
    height:100%;
    align-content: center;
    border-left:solid 1px green;
}

.but{
    width:100%;
    height:50px;
	color: #ffffff;
    background-color: blue;
    align-content: center; 
    bottom:0;
	transition: color 1s, background-color 1s;
}

.but:hover{
	color: blue;
    background-color: #ffffff;
}

.pais h2 {
background-color: #003366;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pais h2:hover {
background-color: #0055aa;
}


//MOVIL
@media screen and (max-width: 500px){
.items{
    padding:10px;
    column-gap:20px;
    row-gap: 20px;
}
.item{
width:100px;
    height:200px;
}
	.item h3{
font-size: 12px;
    height: 30px;
}
 .item img{
    height: 120px;
}
 .desc{
    height: 30px;
}
 .but{
    background-color: lightgreen;
    height: 30px;
}
}
